body {
    background-color: rgb(203, 150, 216);
}

.flex {
    display: flex;
    justify-content: center;
}

.card {
    background-color: rgb(250, 160, 228);
    margin: 20px;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    border-radius: 15px;
    width: 300px;
    max-width: 90%;
    box-shadow: 0 5px 15px rgb(109, 133, 139);
    padding: 20px;

}


.card:hover {
    background-color: #a1d4f1;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgb(109, 133, 139);
    transform: translateY(-3px);
    background-image: src;
}

.insideCard {
    background-color: rgb(227, 145, 235);
    margin: 20px;
    transform: translateX(-20px);
    transition: 0.3s;
    border-radius: 15px;
    width: 300px;
    max-width: 90%;
    box-shadow: 0 5px 15px rgb(109, 133, 139);
    padding: 20px;
}

.insideCard:hover {
    background-color: rgb(204, 124, 211);
}

nav {
    margin: 0px;
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgba(93, 230, 248, 0.452);
    border-radius: 20px;
}

#Forms{
    display: flex;
    justify-content: center;
    background-color: white;
    width: 19%;
    padding: 0px;
    margin: 0;
}

footer{
    padding: 20px;
}
